<html>
<head>
	<title>ABM angular PHP</title>
	  
		<!--?php require_once"partes/referencias.php" ;/**/?-->
		<!--final de Estilos-->    

      <!--script type="text/javascript" src="./bower_components/jquery/dist/jquery.js"></script-->
       	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="http://www.octavio.com.ar/favicon.ico">
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/estilo.css">
	<link rel="stylesheet" type="text/css" href="css/animacion.css">


	<script SRC="bower_components/angular/angular.min.js" TYPE="text/javascript"></script>
	<!--script SRC="bower_components/angular-ui-router/release/angular-ui-router.min.js" TYPE="text/javascript"></script-->
 	<script SRC="js/app.js" TYPE="text/javascript"></script>
</head>
<body ng-app="ABMangularPHP" ng-controller="controlAlta">
	<!--?php		
		require_once"partes/barraDeMenu.php";
	 ?-->

 
              <ul class="nav nav-tabs">
		         <li  class="btn btn-info animated bounceInLeft" >
		         	<a href="index.html">
		         		 <span class="glyphicon glyphicon-list-alt">&nbsp;</span>
		         		 Inicio
		         	</a>
		         </li>
		         <li class="btn btn-info animated bounceInLeft" >
		         	<a href="formAlta.html">
		         		<span class="glyphicon glyphicon-plus-sign">&nbsp;</span>
		         		Alta
		         	</a>
		         </li>
		         <li  class="btn btn-info animated bounceInLeft" >
		         	<a href="formGrilla.html"> 
		         		<span class="glyphicon glyphicon-th" >&nbsp;</span>
		         			Grilla</a>
		         		</li>
		        	<span id="tituloBarra"  class="animated bounceInRight">{{DatoTest}}ABM - PHP - Angular Versión 1.0.1 &nbsp;&nbsp;&nbsp;</span>
      </ul>
		

	<div class="container">
		<div class="page-header">
			<center> <h1>Datos {{DatoTest}}</h1>   </center>     
		</div>
		<div class="CajaInicio animated bounceInRight">
			<h1> <!--?php echo $titulo; ?-->titulo </h1>

			<form id="FormIngreso"  enctype="multipart/form-data" >
				<input type="text" name="apellido" ng-model="persona.apellido" placeholder="ingrese apellido" value="" />
				<span id="lblApellido" style="display:none;color:#FF0000;width:1%;float:right;font-size:80">*
				</span>
				<input type="text" name="nombre" ng-model="persona.nombre" placeholder="ingrese nombre" value="" /> <span id="lblNombre" style="display:none;color:#FF0000;width:1%;float:right;font-size:80">*</span>
				<input type="text" name="dni" ng-model="persona.dni" placeholder="ingrese dni" value=""     /> 
				<span id="lblDni" style="display:none;color:#FF0000;width:1%;float:right;font-size:80">*</span>
				

				<img  src="fotos/pordefecto.png" class="fotoform" id="foto"/>
				<p style="  color: black;">*La foto se actualiza al guardar.</p>


				<a class="btn btn-info " name="guardar" ng-click="Guardar()" ><span class="glyphicon glyphicon-save">&nbsp;</span>Guardar</a>
					
				<input type="hidden" value="" id="idParaModificar" name="agregar" ng-model="persona.id"/>
				<input type="hidden" value="" id="hdnAgregar" name="agregar" />
				</div>

			</form>
	</div>
	</div>
</body>
</html>